<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mcaddy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mcaddy.Properties.Settings>
            <setting name="OnlineConfig" serializeAs="String">
                <value>https://raw.githubusercontent.com/mcaddy/audipoi/master/Shared/config.json</value>
            </setting>
            <setting name="OfflineConfig" serializeAs="String">
                <value>./config.json</value>
            </setting>
        </Mcaddy.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
